<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.css">
  <title>To Do List</title>
</head>
<body>

  <div class="container">
    <h1>To Do List</h1>

    <!-- action for redirect to task created -->
    <form action="/api/todo/create" method="post" autocomplete="off">
      <p>
        <label for="name">To do task</label>
        <input type="text" placeholder="Add tasks" name="ToDoTask" required></input>
      </p>
      <p>
        <label for="name">Task Responsable</label>
        <input type="text" placeholder="Add task responsable" name="TaskResponsable" required></input>
      </p>
      <p>
        <label for="name">Deadline</label>
        <input type="date" placeholder="Deadline" name="Deadline" required></input>
      </p>
      <p>
        <label for="name">Update</label>
        <input type="text" placeholder="Update" name="Update"></input>
      </p>

      <button type="submit"> Add </button>
    </form>

  </div>
</body>
</html>
